* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: whitesmoke;
    color: #333;
    padding: 20px;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    max-width: 500px;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

input {
    padding: 12px;
    border: 1px solid lightgray;
    border-radius: 6px;
    font-family: inherit;
    font-size: 16px;
    outline: none;
    color: #333;
}

input:focus {
    border-color: royalblue;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: royalblue;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    
}